:root {
    --clr-main: hsl(0, 0%, 17%);
    --clr-secondary: hsl(0, 0%, 59%);
    --clr-font: hsl(0, 0%, 100%);

    --br-mobile: 375px;
    --br-desktop: 1440px;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/*****
Main styles
*****/

html,
body {
    font-size: 18px; /* inputs */
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: "Rubik", sans-serif;
    overflow: hidden;
}

header {
    background-image: url("../../assets/images/pattern-bg.png");
    background-size: cover;
    background-size: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;
    height: 300px;
}

main {
    z-index: 2;
}

h1 {
    color: var(--clr-font);
    font-weight: var(--fw-medium);
    font-size: clamp(1.44rem, 5vw, 2rem);
}

form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 30rem;
}

input[type="search"] {
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 1rem 0 1rem 1.5rem;
}

button[type="submit"] {
    background-color: var(--clr-main);
    color: var(--clr-font);
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3.3rem;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result {
    border: none;
    border-radius: 15px;
    background-color: var(--clr-font);
    padding-block: 1.44rem;
    padding-inline: 1.33rem;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    width: 81%;
    max-width: 61rem;
    position: absolute;
    top: 60%;
    z-index: 999;
    margin-top: 2rem;
}

.search-result__box {
    display: grid;
    grid-template-rows: 1rem 1fr;
    gap: 0.5rem;
}

.search-result__box__name {
    font-weight: var(--fw-bold);
    color: var(--clr-secondary);
    font-size: clamp(0.55rem, 5vw, 0.66rem);
    text-transform: uppercase;
}
.search-result__box__value {
    font-weight: var(--fw-medium);
    color: var(--clr-main);
    font-size: clamp(1.11rem, 5vw, 1.44rem);
}

@media screen and (min-width: 1000px) {
    .search-result {
        padding-block: 2.05rem;
        padding-inline: 1.77rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        align-items: stretch;
        justify-content: start;
        gap: 0;
    }

    .search-result__box:not(:last-of-type) {
        border-right: 1px solid var(--clr-secondary);
        margin-right: 2rem;
    }
    .search-result__box:not(:first-of-type) {
        margin-left: 0.5rem;
    }

    .search-result__box {
        gap: 0.85rem;
        text-align: left;
    }
}
